<a href="https://colab.research.google.com/github/Sarah-0405/Bachelorarbeit_/blob/main/CSV_Tabellenbereinigung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import numpy as np

In [ ]:
# CSV-Datei laden
df = pd.read_csv("/content/drive/MyDrive/Daten BA /erstellte Dateien mit colab/NOERDLINGEN_neu_merged.csv", sep=";")

# Prüfen, ob Längen- und Breitengrad vorhanden sind
if 'x_mp_100m' in df.columns and 'y_mp_100m' in df.columns:
    # Geopandas DataFrame erstellen
    gdf = gpd.GeoDataFrame(
        df,
        geometry=gpd.points_from_xy(df['x_mp_100m'], df['y_mp_100m']),
        crs="EPSG:3035"  # Koordinatensystem
    )
else:
    print("Koordinatenspalten fehlen in der CSV-Datei.")

In [ ]:
# Ersten Blick auf die Daten werfen
print(df.head())  # Zeigt die ersten 5 Zeilen
print(df.columns)  # Listet alle Spaltennamen
print(df.info())  # Zeigt Informationen über Datentypen und fehlende Werte

                   GITTER_ID_100m  x_mp_100m  y_mp_100m  \
0  CRS3035RES100mN2854400E4359000    4359050    2854450
1  CRS3035RES100mN2854500E4358400    4358450    2854550
2  CRS3035RES100mN2854500E4358700    4358750    2854550
3  CRS3035RES100mN2854500E4358800    4358850    2854550
4  CRS3035RES100mN2854500E4358900    4358950    2854550

                  geometry AnteilUeber65 AnteilAuslaender  \
0  POINT (4359050 2854450)             –                –
1  POINT (4358450 2854550)             –                –
2  POINT (4358750 2854550)             –                –
3  POINT (4358850 2854550)         13,64                –
4  POINT (4358950 2854550)             –                –

  durchschnFlaechejeBew Durchschnittsalter  Einwohner durchschnMieteQM  \
0                 65,00              37,13          3              NaN
1                   NaN              53,48          3              NaN
2                 39,04              57,78          6              NaN
3                 78,77              43,04         22              NaN
4                 48,23              36,65         20             4,75

   Insgesamt_Bevoelkerung  Unter10  Anteil_unter10
0                       3        0        0.000000
1                       3        0        0.000000
2                       6        0        0.000000
3                      22        3       13.636364
4                      20        0        0.000000
Index(['GITTER_ID_100m', 'x_mp_100m', 'y_mp_100m', 'geometry', 'AnteilUeber65',
       'AnteilAuslaender', 'durchschnFlaechejeBew', 'Durchschnittsalter',
       'Einwohner', 'durchschnMieteQM', 'Insgesamt_Bevoelkerung', 'Unter10',
       'Anteil_unter10'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GITTER_ID_100m          797 non-null    object
 1   x_mp_100m               797 non-null    int64
 2   y_mp_100m               797 non-null    int64
 3   geometry                797 non-null    object
 4   AnteilUeber65           797 non-null    object
 5   AnteilAuslaender        797 non-null    object
 6   durchschnFlaechejeBew   690 non-null    object
 7   Durchschnittsalter      797 non-null    object
 8   Einwohner               797 non-null    int64
 9   durchschnMieteQM        378 non-null    object
 10  Insgesamt_Bevoelkerung  797 non-null    int64
 11  Unter10                 797 non-null    int64
 12  Anteil_unter10          797 non-null    float64
dtypes: float64(1), int64(5), object(7)
memory usage: 81.1+ KB
None

In [ ]:
# Replace commas with periods in specific columns containing numeric values
for column in ['AnteilUeber65', 'AnteilAuslaender', 'durchschnFlaechejeBew', 'Durchschnittsalter', 'durchschnMieteQM', 'Anteil_unter10']:
    # Replace '–' with NaN before converting to float
    df[column] = df[column].astype(str).str.replace(',', '.').str.replace('–', 'NaN').astype(float) # Replace '–' with NaN

In [ ]:
for columns in ["Einwohner", "Insgesamt_Bevoelkerung", "Unter10"]:
  df[columns] = df[columns].astype(int)

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GITTER_ID_100m          797 non-null    object
 1   x_mp_100m               797 non-null    int64
 2   y_mp_100m               797 non-null    int64
 3   geometry                797 non-null    object
 4   AnteilUeber65           528 non-null    float64
 5   AnteilAuslaender        284 non-null    float64
 6   durchschnFlaechejeBew   690 non-null    float64
 7   Durchschnittsalter      797 non-null    float64
 8   Einwohner               797 non-null    int64
 9   durchschnMieteQM        378 non-null    float64
 10  Insgesamt_Bevoelkerung  797 non-null    int64
 11  Unter10                 797 non-null    int64
 12  Anteil_unter10          797 non-null    float64
dtypes: float64(6), int64(5), object(2)
memory usage: 81.1+ KB
None

In [ ]:
# Prüfen, ob Werte in der Spalte vorhanden sind
print(df.describe())  # Statistiken anzeigen

          x_mp_100m     y_mp_100m  AnteilUeber65  AnteilAuslaender  \
count  7.970000e+02  7.970000e+02     528.000000        284.000000
mean   4.357734e+06  2.859886e+06      32.542405         24.662535
std    2.100850e+03  2.239705e+03      20.886809         19.722777
min    4.353150e+06  2.854450e+06       3.450000          3.920000
25%    4.356350e+06  2.858750e+06      18.817500         11.360000
50%    4.357250e+06  2.859650e+06      27.270000         17.835000
75%    4.358650e+06  2.860850e+06      38.950000         30.385000
max    4.362850e+06  2.866450e+06     100.000000        100.000000

       durchschnFlaechejeBew  Durchschnittsalter   Einwohner  \
count             690.000000          797.000000  797.000000
mean               65.905420           45.545458   25.331242
std                17.785521           10.842873   23.867109
min                24.440000           14.860000    3.000000
25%                54.962500           38.970000    9.000000
50%                64.420000           44.430000   18.000000
75%                74.252500           51.340000   33.000000
max               190.020000           83.170000  144.000000

       durchschnMieteQM  Insgesamt_Bevoelkerung     Unter10  Anteil_unter10
count        378.000000              797.000000  797.000000      797.000000
mean           6.530714               25.331242    2.124216        7.498616
std            1.362102               23.867109    3.085609       11.230688
min            1.500000                3.000000    0.000000        0.000000
25%            5.735000                9.000000    0.000000        0.000000
50%            6.540000               18.000000    0.000000        0.000000
75%            7.175000               33.000000    3.000000       12.500000
max           12.310000              144.000000   25.000000       75.000000

In [ ]:
print(df.head())
print(df.columns)

                   GITTER_ID_100m  x_mp_100m  y_mp_100m  \
0  CRS3035RES100mN2854400E4359000    4359050    2854450
1  CRS3035RES100mN2854500E4358400    4358450    2854550
2  CRS3035RES100mN2854500E4358700    4358750    2854550
3  CRS3035RES100mN2854500E4358800    4358850    2854550
4  CRS3035RES100mN2854500E4358900    4358950    2854550

                  geometry  AnteilUeber65  AnteilAuslaender  \
0  POINT (4359050 2854450)            NaN               NaN
1  POINT (4358450 2854550)            NaN               NaN
2  POINT (4358750 2854550)            NaN               NaN
3  POINT (4358850 2854550)          13.64               NaN
4  POINT (4358950 2854550)            NaN               NaN

   durchschnFlaechejeBew  Durchschnittsalter  Einwohner  durchschnMieteQM  \
0                  65.00               37.13          3               NaN
1                    NaN               53.48          3               NaN
2                  39.04               57.78          6               NaN
3                  78.77               43.04         22               NaN
4                  48.23               36.65         20              4.75

   Insgesamt_Bevoelkerung  Unter10  Anteil_unter10
0                       3        0        0.000000
1                       3        0        0.000000
2                       6        0        0.000000
3                      22        3       13.636364
4                      20        0        0.000000
Index(['GITTER_ID_100m', 'x_mp_100m', 'y_mp_100m', 'geometry', 'AnteilUeber65',
       'AnteilAuslaender', 'durchschnFlaechejeBew', 'Durchschnittsalter',
       'Einwohner', 'durchschnMieteQM', 'Insgesamt_Bevoelkerung', 'Unter10',
       'Anteil_unter10'],
      dtype='object')

In [ ]:
print(df.isnull().sum()) # Zeige, wie viele NaN-Werte in jeder Spalte vorhanden sind

GITTER_ID_100m              0
x_mp_100m                   0
y_mp_100m                   0
geometry                    0
AnteilUeber65             269
AnteilAuslaender          513
durchschnFlaechejeBew     107
Durchschnittsalter          0
Einwohner                   0
durchschnMieteQM          419
Insgesamt_Bevoelkerung      0
Unter10                     0
Anteil_unter10              0
dtype: int64

In [ ]:
# Speichern der bearbeiteten Datei unter einem neuen Namen
df.to_csv('/content/drive/MyDrive/Daten BA /erstellte Dateien mit colab/NOERDLINGEN_neu_merged.csv', index=False)

Funktion zum Verarbeiten der CSV-Dateien

In [ ]:
def preprocess_csv(file_path, output_path):
    """
    Diese Funktion liest eine CSV-Datei, ersetzt Kommas durch Punkte
    und wandelt bestimmte Spalten in die Datentypen float64 oder int um.
    Die Spalten 'Gitter_ID_100m' und 'geometry' bleiben unverändert.

    :param file_path: Der Pfad zur CSV-Datei, die umgewandelt werden soll.
    :param output_path: Der Pfad, unter dem die bearbeitete Datei gespeichert werden soll.
    """
    # Schritt 1: CSV-Datei einlesen
    df = pd.read_csv(file_path, sep=";")

    # Schritt 2: Ersetze Kommas (',') durch Punkte ('.') im gesamten DataFrame
    df.replace(',', '.', regex=True, inplace=True)

    # Schritt 3: Wandelt bestimmte Spalten in die gewünschten Datentypen um
    float_columns = ['AnteilUeber65', 'AnteilAuslaender', 'durchschnFlaechejeBew',
                     'Durchschnittsalter', 'durchschnMieteQM', 'Anteil_unter10']
    int_columns = ["Einwohner", "Insgesamt_Bevoelkerung", "Unter10"]

    for column in float_columns:
        if column in df.columns:  # Überprüfen, ob die Spalte existiert
            df[column] = pd.to_numeric(df[column], errors='coerce')

    for column in int_columns:
        if column in df.columns:  # Überprüfen, ob die Spalte existiert
            df[column] = pd.to_numeric(df[column], errors='coerce').astype('Int64')  # Int64 für nullable integers

    # Schritt 4: Speichern der bearbeiteten CSV-Datei
    df.to_csv(output_path, index=False)

    print(f"Die bearbeitete Datei wurde erfolgreich gespeichert: {output_path}")
    return df

# Beispielanwendung
input_file = '/content/drive/MyDrive/Daten BA /erstellte Dateien mit colab/KEMPTEN_neu_merged.csv'  # Ersetze durch deinen Eingabepfad
output_file = '/content/drive/MyDrive/Daten BA /erstellte Dateien mit colab/KEMPTEN_neu_merged_2.csv'  # Ersetze durch deinen Ausgabepfad

# Funktionsaufruf zur Verarbeitung der CSV-Datei
preprocessed_df = preprocess_csv(input_file, output_file)

# Optional: Überprüfen der ersten paar Zeilen der bearbeiteten Datei
print(preprocessed_df.head())

Die bearbeitete Datei wurde erfolgreich gespeichert: /content/drive/MyDrive/Daten BA /erstellte Dateien mit colab/KEMPTEN_neu_merged_2.csv
                   GITTER_ID_100m  x_mp_100m  y_mp_100m  \
0  CRS3035RES100mN2731600E4345000    4345050    2731650
1  CRS3035RES100mN2731700E4344700    4344750    2731750
2  CRS3035RES100mN2731800E4342000    4342050    2731850
3  CRS3035RES100mN2731800E4344600    4344650    2731850
4  CRS3035RES100mN2731800E4344700    4344750    2731850

                  geometry  AnteilUeber65  AnteilAuslaender  \
0  POINT (4345050 2731650)            NaN               NaN
1  POINT (4344750 2731750)          50.00               NaN
2  POINT (4342050 2731850)            NaN               NaN
3  POINT (4344650 2731850)          14.29               NaN
4  POINT (4344750 2731850)          29.73               NaN

   durchschnFlaechejeBew  Durchschnittsalter  Einwohner  durchschnMieteQM  \
0                    NaN               40.47          5               NaN
1                    NaN               65.62          8               NaN
2                    NaN               47.53          3               NaN
3                  40.65               41.19         21               NaN
4                  57.96               47.67         37              7.99

   Insgesamt_Bevoelkerung  Unter10  Anteil_unter10
0                       5        0        0.000000
1                       8        0        0.000000
2                       3        0        0.000000
3                      21        3       14.285714
4                      37        4       10.810811

In [ ]:
# Übersicht über die ersten Zeilen der Daten

# Überblick über Datentypen und fehlende Werte
print(df.info())

# Statistische Kennzahlen für numerische Spalten
print(df.describe())

# Überprüfen, ob es fehlende Werte gibt
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GITTER_ID_100m          797 non-null    object
 1   x_mp_100m               797 non-null    int64
 2   y_mp_100m               797 non-null    int64
 3   geometry                797 non-null    object
 4   AnteilUeber65           528 non-null    float64
 5   AnteilAuslaender        284 non-null    float64
 6   durchschnFlaechejeBew   690 non-null    float64
 7   Durchschnittsalter      797 non-null    float64
 8   Einwohner               797 non-null    int64
 9   durchschnMieteQM        378 non-null    float64
 10  Insgesamt_Bevoelkerung  797 non-null    int64
 11  Unter10                 797 non-null    int64
 12  Anteil_unter10          797 non-null    float64
dtypes: float64(6), int64(5), object(2)
memory usage: 81.1+ KB
None
          x_mp_100m     y_mp_100m  AnteilUeber65  AnteilAuslaender  \
count  7.970000e+02  7.970000e+02     528.000000        284.000000
mean   4.357734e+06  2.859886e+06      32.542405         24.662535
std    2.100850e+03  2.239705e+03      20.886809         19.722777
min    4.353150e+06  2.854450e+06       3.450000          3.920000
25%    4.356350e+06  2.858750e+06      18.817500         11.360000
50%    4.357250e+06  2.859650e+06      27.270000         17.835000
75%    4.358650e+06  2.860850e+06      38.950000         30.385000
max    4.362850e+06  2.866450e+06     100.000000        100.000000

       durchschnFlaechejeBew  Durchschnittsalter   Einwohner  \
count             690.000000          797.000000  797.000000
mean               65.905420           45.545458   25.331242
std                17.785521           10.842873   23.867109
min                24.440000           14.860000    3.000000
25%                54.962500           38.970000    9.000000
50%                64.420000           44.430000   18.000000
75%                74.252500           51.340000   33.000000
max               190.020000           83.170000  144.000000

       durchschnMieteQM  Insgesamt_Bevoelkerung     Unter10  Anteil_unter10
count        378.000000              797.000000  797.000000      797.000000
mean           6.530714               25.331242    2.124216        7.498616
std            1.362102               23.867109    3.085609       11.230688
min            1.500000                3.000000    0.000000        0.000000
25%            5.735000                9.000000    0.000000        0.000000
50%            6.540000               18.000000    0.000000        0.000000
75%            7.175000               33.000000    3.000000       12.500000
max           12.310000              144.000000   25.000000       75.000000
GITTER_ID_100m              0
x_mp_100m                   0
y_mp_100m                   0
geometry                    0
AnteilUeber65             269
AnteilAuslaender          513
durchschnFlaechejeBew     107
Durchschnittsalter          0
Einwohner                   0
durchschnMieteQM          419
Insgesamt_Bevoelkerung      0
Unter10                     0
Anteil_unter10              0
dtype: int64